<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pts4.healthapp" >

    <application
        android:name="com.orm.SugarApp"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="DATABASE"
            android:value="healthapp.db" />
        <meta-data
            android:name="VERSION"
            android:value="3" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="com.example" />

        <activity
            android:name=".Home"
            android:exported="true"
            android:label="@string/title_activity_home" >
        </activity>
        <activity
            android:name=".FoodDiaryActivity"
            android:label="@string/title_activity_food_diary"
            android:parentActivityName=".Home" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pts4.healthapp.Home" />
        </activity>
        <activity
            android:name=".FoodListActivity"
            android:label="@string/title_activity_food_list"
            android:parentActivityName=".Home" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pts4.healthapp.Home" />
        </activity>
        <activity
            android:name=".DiaryAddEntryActivity"
            android:label="@string/title_activity_diary_add_entry"
            android:parentActivityName=".FoodDiaryActivity"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pts4.healthapp.FoodDiaryActivity" />
        </activity>
    </application>

</manifest>
